body {
    font-family: 'Raleway';
}

#navContainer {
    background-color: #fffef7;   
}

nav {
	margin-top: 1em;
	width:100%;
	position:relative;
}

nav ul {
	display:flex;
	margin-left: 10%;
}

nav li {
	font-size: 20px;
	list-style-type: none;
	text-transform: uppercase;
    margin: 0% 4% 0 4%;
    padding: 45px 0;
}

nav li a {
	color: #6A6E72;
    font-family: 'Open Sans';
	text-decoration: none;
	display: inline-block;
	text-align: left;
}

nav li a:hover {
    color: #3366CC;
}

#banner {
    position: relative;
    left: 23%;
    margin-top: 5%;
}

.hamburger-menu, .hamburger-button {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 101;
    &:hover {
      .hamburger-line {
        background-color: @flyout-color-light;
      }
    }
    padding: 2px;
    width: @button-width;
    height: @button-width;
    .border-radius(5px);
    .hamburger-line {
      pointer-events:none;
      .border-radius(2px);
      background-color: @flyout-color;
      height: 4px;
      width: 80%;
      margin: 16% 10%;
    }
  }
    
    #mobile-header, #mobile-icon, #mobile-nav, #mobile-logo {
        display: none;
    }


@media only screen and (min-width: 0px) and (max-width: 768px) {
    
    #desktop-nav {
        display: none;
    }
    
    #mobile-header {
        display: block;
    }

    #mobile-icon {
        display: block;
        width: 10%;
        float: right;
        margin: 5% 3% 0 0;
    }
    
    #mobile-logo {
        display: block;
        margin: 1% 0 0 10%;
        width: 20%;
    }
    
    nav {
        width: 10%;   
    }
    
    nav li {
        padding: 20px 260px;
        margin: 0 auto;
    }
    
    nav li a {
        text-align: left
    }
    
}