/*
Color Schemes:
    #FFF (white)
    #333 (dark gray)
    #000 (black)
    #66CCFF (sky blue)
    #3399FF (light blue)
    #3366CC (medium blue)
    #2B357F (dark blue)
*/



/* General */

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    margin:0;
    padding:0;
    background-color:#FFF;  
    font-family: 'Raleway';
    height: 100%;
}

h1#introText {
    text-align: center;
    margin-top: 0.7em;
    color: #3366CC;
    font-weight:bold;
    font-family:"Montserrat";
    font-size:8em;
}

h2 {
    text-align: center;
    color: #303030;
    font-size:2em;
}

h2#name {
    font-family: 'Montserrat';
    font-size: 3em;
    margin: 2em auto 0.5em auto;
}

h2#designer {
    margin: 0em auto 2em auto;
    color: #3399FF;
}


h3 {
    font-size:2em;
    margin-top: 3em;
    color: #6296b9;
    text-align: center;
}

/* About */

.content-wrapper {
    margin: 10% 2% 0 0;
}

.pageHeader {
    font-family: 'Montserrat';
    margin: 2em 0.5em 0 0;
    color:#2B357F;
    font-weight:bold;
    font-size: 4em;
    text-align:center; 
}

#aboutH1 {
    text-align: left;
    margin-top: 0.5em;
    color:#6296b1;
    font-weight:bold;
    font-size:8em;
    margin-left: 0.4em;
}

.infoHeader {
    color: #646473;
    font-family: 'Montserrat';
    text-align: center;
    margin: 1em auto;
    position: relative;
}

.infoPara {
    font-weight: 200;
    color: black;
    text-align: center;
    margin: 2em auto;
    font-size: 1.5em;
    max-width: 40em;
    position: relative;
    line-height:1.8em;
}

p.achievement {
    font-weight: 200;
    color: #3366CC ;
    text-align: center;
    margin: 0.5em auto;
    font-size: 1.4em;
    max-width: 40em;
    position: relative;
    line-height:1.8em;
}


/* Studio C */

#studioC {
    margin-top: 2em;
    margin-left:2em;
    color:#6296b1;
    font-weight:bold;
    font-size:5em;
    text-align:left;
}

#scDescription {
    margin-left:5.8em;
    color: #656568;
    max-width: 1200px;
    font-size: 1.6em;
    line-height:1.6em;
    padding: 8px;    
}

/* Capstone */

img.feature-image {
    margin: 2.1em 0 0 30%; 
    width: 40%;
}

#capstone-image {
    margin: 2em 0 0 25%; 
    width: 50%;   
}

/* Contact */

#contactText {
    margin-top: 5%;   
}

#contact {
    top: 0%;
    position: relative;
    left: 29.5%;
    padding: 5% 0 30% 0;
}

div#envelope {
    float: left;
    width: 40%;
    padding: 1.5% 0;
    background-color: #3366CC;
}

form {
    width:70%;
    margin:4% 15%;
}

input[type=text] {
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
}

input[type=submit] {
    margin-bottom: 20px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
    background-color: #e19fa2;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
}

#submit {
    background-color: #2B357F;
    color: white;
    width: 20%;
    font-family: 'Open Sans';
    font-size: 1.2em;
}

#submit:hover {
    background-color: white;
    color:#2B357F;
}

textarea {
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #7ac9b7;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
}

input[type=text]:focus,textarea:focus {
    border-color: #4697e4;
}

.contactText {
    font-family: 'Open Sans', sans-serif;
    color: #fefbfa;
    text-transform: uppercase;
    letter-spacing: 0px;
}

label {
    font-family: 'Open Sans';
    color: white;
}

/* footer */

footer {
    border: 0;
    display: block;
    top: 10em;
    padding: 20px 20px 0px 20px;
    color: #fff;
    background-color: #2B357F;
    position: relative;
    height: 115px;
    width: 100%;
    bottom: 0;
    vertical-align: bottom;
}

#footerText {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1.8em 4em 1.8em 0;
    color: white;
    letter-spacing: 2.5px;
    font-size: 1.2em;
}


@media only screen and (max-width: 360px) {
    
    footer {
        top: 140px;
        height: 115px;
    }

    #footerText {
        text-align: left;
        margin: 1em auto;
        letter-spacing: 1px;
        font-size: 1.1em;
    }   
    
    
}